 <section id="quote">
  <div class="quoteContent">
    <div class="center"> 
      <% artifact = Artifact.find_by_slug("the-crohn-s-disease-aip-cookbook") %>
      <%= artifact.description %>
      <%= link_to "Order on Amazon", artifact.url, class: "ctaButton button primary" %>
    </div>
    <div class="center">
      <%= image_tag(artifact.image.url, class: "w-80 mb-4") if artifact.image.attached? %>
    </div>
  </div>
  <hr />
  <div class="quoteContent">
   <div class="center"> 
    <% page = Page.find_by_slug("where-to-find-us") %>
    <p><%= page.description %></p>
    <%= link_to "Where To Find Us", page_path(page), class: "ctaButton button primary" %>
  </div>

  <div class="center">
    <% product = Product.find_by_slug("gluten-free-bread-club") %>
    <p><%= product.description %></p>
    <%= link_to "Sign up for Bread Club", product_path(product), class: "ctaButton button primary" %>
  </div> 
</section>
