
<% content_for :head do %>
  <title> Gluten-free Bread and GF Pastries Baked Fresh in Santa Cruz, CA</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="Gluten-Free Bread Subscription | Fresh Baked Artisan Bread | Santa Cruz, CA" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:image", content="<%=@all.image.url %>" />
  <meta itemprop="name", content="Gluten-Free Bread Subscription | Fresh Baked Artisan Bread | Santa Cruz, CA" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="image", content="<%=@all.image.url %>" />
  <link rel="canonical" href="https://switchbakery.com" />
<% end %>


<section id="hero">
  <%= render "hero" %>
</section>
<section id="pageContent">
  <div class="pageContent pt-6"> 
    <%= @page.content %>
    <hr />
  </div>
</section>
<% if @posts %><%= render "posts" %><% end %> 
<hr />
<%= render "quote" %>
<div class="py-8 newsletter">
  <h5 class="center">Get the latest news, tips, and gluten-free recipes from the bakery</h5>
  <iframe src="https://switchbakery.substack.com/embed" width="100%" height="150" style="" frameborder="0" scrolling="no"></iframe>
</div>
<%= render "gallery" %>