
<% content_for :head do %>
  <title>Artisan Gluten-free Bakery ~ Bread Subscriptions ~ Custom GF Cakes ~ Santa Cruz, CA</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="Artisan Gluten-free Bakery ~ Bread Subscriptions ~ Custom GF Cakes ~ Santa Cruz, CA" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:image", content="<%=@all.image.url %>" />
   <meta name="twitter:title", content="Artisan Gluten-free Bakery ~ Bread Subscriptions ~ Custom GF Cakes ~ Santa Cruz, CA" />
  <meta name="twitter:description", content="<%= @page.description %>" />
  <meta name="twitter:image", content="<%=@all.image.url %>" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="https://switchbakery.com" />
  <meta itemprop="name", content="Artisan Gluten-free Bakery ~ Bread Subscriptions ~ Custom GF Cakes ~ Santa Cruz, CA" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="image", content="<%=@all.image.url %>" />
  <link rel="canonical" href="https://switchbakery.com" />
<% end %>


<section id="hero">
  <%= render "hero" %>
</section>
<section id="pageContent">
  <div class="pageContent"> 
    <p class="center"><%= @page.description %></p>
    <%= @page.content %>
    <hr />
  </div>
</section>
<% if @posts %><%= render "posts" %><% end %> 
<hr />
<%= render "quote" %>
<div class="py-8 newsletter">
  <h5 class="center">Get the latest news, tips, and gluten-free recipes from the bakery</h5>
  <iframe src="https://switchbakery.substack.com/embed" width="100%" height="150" style="" frameborder="0" scrolling="no"></iframe>
</div>
<%= render "gallery" %>