
<% content_for :head do %>
  <title>Fresh Gluten-free Bakery ~ Bread Club ~ Custom Cakes ~ Monterey, California</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="Fresh Gluten-free Bakery ~ Bread Club ~ Custom Cakes ~ Monterey, California" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:image", content="<%=@all.image.url %>" />
   <meta name="twitter:title", content="Fresh Gluten-free Bakery ~ Bread Club ~ Custom Cakes ~ Monterey, California" />
  <meta name="twitter:description", content="<%= @page.description %>" />
  <meta name="twitter:image", content="<%=@all.image.url %>" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="https://switchbakery.com" />
  <meta itemprop="name", content="Fresh Gluten-free Bakery ~ Bread Club ~ Custom Cakes ~ Monterey, California" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="image", content="<%=@all.image.url %>" />
  <link rel="canonical" href="https://switchbakery.com" />
<% end %>


<%= render "categories" %>
 <section id="pageContent">
  <div class="pageContent"> 
    <p><%= @page.description %></p>
  </div>
 </section>
<% if @posts %><%= render "posts" %><% end %> 
<%= render "hero" %>
<%= render "quote" %>
<iframe src="https://switchbakery.substack.com/embed" width="100%" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe><%= render "gallery" %>