<%= render "categories" %>
 <section id="pageContent">
  <div class="pageContent"> 
    <p><%= @page.description %></p>
  </div>
 </section> 
<%= render "hero" %>
<%= render "quote" %>
<%= render "gallery" %>