<div class="cartContainer">
  <%= turbo_frame_tag "cart" do %>
    <div class="content">
      <div class="items">
        <% unless @cart %>
          <h4 class="center">Add something delicious to your cart!</h2>
        <% else %>
          <% for orderable in @cart.orderables %> 
            <div class="m-5">
              <div class="priceContainer">
                <%= render 'prices', variation: orderable.variation %>
                <span class="price"><%= orderable.quantity %> @ <%= display_price(orderable.variation.amount) %></span>
                <span class= "close" >
                  <%= form_with(url: cart_remove_path) do |f| %>
                    <%= f.hidden_field :id, value: @cart.orderables.first.id %>
                    <%= f.submit "remove" %>
                  <% end %> 
                </span>
              </div>
                <% if orderable.variation.preferences.any? && orderable.variation.preferences.any?{ |a| a.options.present? } %>
                  <div id="orderable_<%= orderable.id %>" data-controller="orderables" class="details p-4 h5">
                    <%= render 'orderables/update_notes', orderable: orderable %>
                  </div>
                <% end %> 
            </div>
          <% end %>
        <% end %>
      </div>
      <%= render "add_ons" unless @add_ons.empty? %>
      <hr />
      <div class="orderContainer">
        <div class="orderContent">
          <% if @cart && @cart.variations.length > 0 %>
            <div class="orderDetail">
              <p class="total">Subotal: <%= formatted_price(@cart.total) %></p>
            </div>
            <div class="checkout">
              <div class="">
                <%= form_with url: checkout_session_path, method: :post, data: {turbo: false}, id: "checkout-form" do |f| %>
                  <%= f.hidden_field 'cart_id', value: @cart.id %>
                  <%= f.hidden_field 'shipping', value: ENV.fetch('PICKUP') %>
                  <%= f.submit "Checkout", class: "button primary alternate", id: "checkout-button" %>
                <% end %>
              </div>
            </div>
            <div class="message">
              Orders placed will be slotted into the next available production day. We typically deliver to Santa Cruz on Monday & Wednesday, and Monterey Monday, Tuesday, or Thursday with a $6 charge. Save the extra dough by selecting to pickup at one of our markets or partners!
            </div>
          <% else %>
            <p>Your cart is empty</p>
          <% end %>
          
        </div>
        
      </div>
    </div>
  <% end %>
</div>
<%# <script>
document.addEventListener("DOMContentLoaded", function() {
  const form = document.getElementById('checkout-form');
  if(form) {
    form.addEventListener('submit', function(event) {
      const selects = document.querySelectorAll('.bread-choice-select');
      if (selects.length > 0) {
        const choices = Array.from(selects).map(s => s.value).filter(v => v !== "");
        const notesField = document.getElementById('bread-notes');
        if (notesField) {
          notesField.value = choices.join(', ');
        }
      }
    });
  }
});
</script> %>