<div class="cartContainer">
  <%= turbo_frame_tag "cart" do %>
    <div class="content">
      <div class="items">
        <% unless @cart %>
          <h4 class="center">Add something delicious to your cart!</h2>
        <% else %>
          <% for variation in @cart.variations %>
              <%= form_with(url: cart_remove_path) do |f| %>
                <%= f.hidden_field :id, value: @cart.orderables.first.id %>
                <div class="priceContainer">
                  <%= render 'prices', variation: variation %>
                  <span class="price"><%= display_price(variation.amount) %></span>
                  <span class= "close" ><%= f.submit "remove" %></span>
                </div>
              <% end %> 
          <% end %>
        <% end %>
      </div>
      <hr />
      <div class="orderContainer">
        <div class="orderContent">
          <div class="message">
            Orders will be delivered to Santa Cruz area locations on Tuesday and Thursdays, and Monterey area Tuesday through Saturday
          </div>
          <% if @cart %>
            <div class="orderDetail">
              <p class="total">Subotal: <%= formatted_price(@cart.total) %></p>
            </div>
            <div class="checkout">
              <%= form_with url: checkout_session_path, method: :post, data: {turbo: false} do |f| %>
                <%= f.hidden_field 'cart_id', value: @cart.id %>
                <%= f.submit "Checkout", class: "button primary", id: "checkout-button" %>
              <% end %>
            </div>
          <% else %>
            <p>Your cart is empty</p>
          <% end %>
          
        </div>
        
      </div>
    </div>
  <% end %>
</div>