<div class="cartContainer">
  <%= turbo_frame_tag "cart" do %>
    <div class="content">
      <div class="items">
        <% unless @cart %>
          <h4 class="center">Add something delicious to your cart!</h2>
        <% else %>
          <% for orderable in @cart.orderables %>
              <%= form_with(url: cart_remove_path) do |f| %>
                <%= f.hidden_field :id, value: @cart.orderables.first.id %>
                <div class="priceContainer">
                  <%= render 'prices', variation: orderable.variation %>
                  <span class="price"><%= orderable.quantity %> @ <%= display_price(orderable.variation.amount) %></span>
                  <span class= "close" ><%= f.submit "remove" %></span>
                </div>
              <% end %> 
          <% end %>
        <% end %>
      </div>
      <%= render "add_ons" unless @add_ons.empty? %>
      <hr />
      <div class="orderContainer">
        <div class="orderContent">
          <% if @cart %>
            <div class="orderDetail">
              <p class="total">Subotal: <%= formatted_price(@cart.total) %></p>
            </div>
            <div class="checkout">
              <% unless @cart.variations.recurring.any? %>
                <div class="inline">
                  <%= form_with url: checkout_session_path, method: :post, data: {turbo: false} do |f| %>
                    <%= f.hidden_field 'cart_id', value: @cart.id %>
                    <%= f.hidden_field 'shipping', value: ENV.fetch('SHIPPING') %>
                    <%= f.submit "Ship in CA", class: "button primary sale", id: "checkout-button" %>
                  <% end %>
                </div>
              <% end %>
              <div class="inline">
                <%= form_with url: checkout_session_path, method: :post, data: {turbo: false} do |f| %>
                  <%= f.hidden_field 'cart_id', value: @cart.id %>
                  <%= f.hidden_field 'shipping', value: ENV.fetch('PICKUP') %>
                  <%= f.submit "Pickup/Delivery", class: "button primary alternate", id: "checkout-button" %>
                <% end %>
              </div>
            </div>
            <div class="message">
              Orders will be delivered to Santa Cruz area locations on Wednesday and Friday. If you are in the Monterey area you can also select an option to pick up at the Tuesday market or Thursday in Carmel By The Sea at checkout.
            </div>
          <% else %>
            <p>Your cart is empty</p>
          <% end %>
          
        </div>
        
      </div>
    </div>
  <% end %>
</div>