<% unless variation.product.image.blank? %>
  <div class= "imageContainer" role="presentation" >
    <%= image_tag variation.product.image.variant(resize_to_limit: [75, 75]), alt: variation.product.name %>
  </div>
<% end %>
<span class="variation">
  <% if variation.unit_quantity.present? && variation.unit_quantity > 1 %>
      <% if variation.recurring? %>
        <%= variation.name %>
      <% else %>
        <%= variation.unit_quantity %> - 
        <%= variation.name.pluralize %>
      <% end %>
  <% else %>
    <%= variation.name %>
  <% end %>
</span>