<% content_for :head do %>
  <title><%=@page.title %> | Switch Bakery</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="<%=@page.title %> | Switch Bakery" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:type", content="website" />
  <meta property="og:url", content="<%= page_url %>" />
  <meta itemprop="headline", content="<%=@page.title %>" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="datePublished", content="<%=@page.created_at.to_time.iso8601 %>" />
  <link rel="canonical" href="<%= page_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/WebPage"
<% end %>
<%= render "/main/banner", image: nil, title: @page.title, subtitle: @page.description %>
<section id="page">
  <div class="container">
    <div class="pageContainer">
      <div class="detailContent" >
        <% if @page.slug == "fans" %>
          <div id="gallery">
            <div class="postGrid pageGrid">
              <div class="reading-frame mb-5">
                  <%= @page.content %>
              </div>
              <div class="center">
                <%= turbo_frame_tag Customer.new do %>
                  <%= link_to "Make me an insider!", new_customer_path, class: "button primary button-text" %>
                <% end %>
                <% unless FanComment.none? %>
                  <div class="mt-6">
                    <% FanComment.not_blank.each do |fan_comment|%>
                      <h5 class="mb-4"><%= fan_comment.comment %>  - <%= fan_comment.customer.abbrev_name(fan_comment.customer.name) %></h5>
                      <hr class="black" />
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
         <div  class=""><%= @page.content %></div>
        <% end %>
        <div id="gallery" class="mt-6">
          <div class="postGrid">
            <% @posts.each do |post| %>
              <div class="postItem ">
                <% unless !post.image.present? %>
                  <div class="imageContainer">
                    <picture><%= image_tag post.medium_image, alt: post.title %></picture>
                  </div>
                <% end %>
                <div class="">
                  <%= link_to update_path(post) do %>
                    <h5 class="p-0"><%= post.title %></h5>
                  <% end %>
                  <p><%= post.shortened_content(500)%></p>
                  
                </div>
              </div>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>