<section id="cart" class="mt-6">
  <div class="cartContainer">
      <div class="content ">
        Hello <%= @customer.name.split(" ").first %>,
        <p>Your subscription for the week of <%= @customer_box.date.strftime("%B %d, %Y") %> is being prepared. Here are a few things you can add to your order today.</p>
        <div class="items">
          <% if @add_ons.present? %>
            <!-- filepath: /Users/joshua/Sites/switch-rails/app/views/customer_boxes/show.html.erb -->
            <% @add_ons.each do |variation| %>
                <%= form_with url: add_ons_customer_box_path(@customer_box), method: :patch, data: { turbo_frame: "variation_#{variation.id}" }, class: "add-on-form" do |f| %>
                  <div class="m-5">
                    <div class="priceContainer d-flex align-items-center">
                      <%= render partial: "/cart/prices", locals: { variation: variation } %>
                      <span class="price ml-3">
                        <%= hidden_field_tag "variation_id", variation.id %>
                        <%= hidden_field_tag "order_id", @order.id %>
                        <%= number_field_tag "quantity", 1, min: 0, class: "form-control d-inline-block", style: "width: 80px;" %>
                        @ <%= display_price(variation.amount) %>
                      </span>
                      <span class="close"><%= f.submit "Add Item", class: "btn btn-primary ml-2" %></span>
                    </div>
                  </div>
                <% end %>
            <% end %>
            <% if @order.orderables.any? %>
              <%= turbo_frame_tag "customer_box_summary" do %>
                <%= render partial: "summary", locals: { order: @order } %>
              <% end %>
              <div class="mt-4">
                <%= button_to "Confirm Order", complete_order_customer_box_path(@customer_box), method: :post, class: "button primary alternate right" %>
              </div>
            <% end %>
          <% else %>
            <p>No add-ons available for this subscription.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
