<% content_for :head do %>
  <title>The latest updates from Switch Bakery</title>
  <meta name="description" content="all of the latest news from our gluten-free bakery in Monterey" />
  <meta property="og:title", content="the latest updates from Switch Bakery" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="" />
  <meta property="og:type", content="articles" />
  <meta property="og:url", content="<%= updates_url %>" />
  <meta property="og:image", content="<%=@posts.first.image.url if @posts.first.image.attached? %>" />
  <meta itemprop="image", content="<%=@posts.first.image.url if @posts.first.image.attached? %>" />
  <link rel="canonical" href="<%= updates_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/Articles"
<% end %>

<%= render "/main/banner", image: nil, title: "the latest #{@category.name if @category} updates from the bakery", subtitle: "" %>
<section id="post">
  <div class="container">
    <div class="postContainer">
      <div class="content">
        <% if @posts.any? %>
          <% @posts.group_by { |t| t.created_at.beginning_of_month }.each do |date, posts| %>
            <div class="date"><%= date.strftime("%B, %Y") %></div>
            <% posts.reverse.each do |post| %>
              <div class="post">
                <%= link_to update_path(post) do %>
                  <%= image_tag post.thumbnail, alt: post.title, class: "border mr-4" if post.image.attached? %>
                  <div class="">
                    <% if post.category.present? %>
                      <h3 class="capsule uppercase b3 mb-4">
                        <%= link_to post.category.name, category_updates_path(category: post.category.slug) %>
                      </h3>
                    <% end %>
                    <h5><%= post.title %></h5>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="no-posts">
            <p>No updates found in <%= @category.name %>.</p>
            <%= link_to "View All Updates", updates_path, class: "btn btn-primary" %>
          </div>
        <% end %>           
      </div>
    </div>
  </div>
</section>