<% content_for :head do %>
  <title>The latest updates from Switch Bakery</title>
  <meta name="description" content="all of the latest news from our gluten-free bakery in Monterey" />
  <meta property="og:title", content="the latest updates from Switch Bakery" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="" />
  <meta property="og:type", content="articles" />
  <meta property="og:url", content="<%= updates_url %>" />
  <meta property="og:image", content="<%=@posts.first.image.url if @posts.first.image.attached? %>" />
  <meta name="twitter:title", content="the latest updates from Switch Bakery" />
  <meta name="twitter:description", content="" />
  <meta name="twitter:image", content="<%=@posts.first.image.url if @posts.first.image.attached? %>" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="<%=updates_url %>" />
  <meta itemprop="image", content="<%=@posts.first.image.url if @posts.first.image.attached? %>" />
  <link rel="canonical" href="<%= updates_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/Articles"
<% end %>

<%= render "/main/banner", title: "the latest updates from the bakery", subtitle: "" %>
<section id="post">
  <div class="container">
    <div class="postContainer">
      <div class="content">
        <% @posts.group_by {|t| t.created_at.beginning_of_month }.each do |date, posts| %>
          <div class="date"><%= date.strftime("%B, %Y") %></div>
          <% for post in posts.reverse %>
            <div class="post">
              <%= link_to update_path(post) do %>
                <%= image_tag post.thumbnail, alt: post.title, class: "border mr-4" if post.image.attached? %>
                <div class="">
                  <h5><%= post.title %></h5>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>