<%= product_form.fields_for :variations do |variation_form| %>
  <div><%= variation_form.label :unit_quantity %></div>
  <div><%= variation_form.number_field :unit_quantity %></div>
  <div><%= variation_form.label :name %></div>
  <div><%= variation_form.text_field :name %></div>
  <div><%= variation_form.label :amount %></div>
  <div><%= variation_form.number_field :amount %></div>
  <div><%= variation_form.label :active %></div>
  <div><%= variation_form.check_box :active %></div>
  <div><%= variation_form.label :row_order %></div>
  <div><%= variation_form.number_field :row_order %></div>
  <div><%= variation_form.label :image %></div>
  <div><%= variation_form.file_field :image %></div>
  <div><%= variation_form.label :inventory_type %></div>
  <div><%= variation_form.text_field :inventory_type %></div>
<% end %>