<%= render "/main/banner", image: @image, title: @title, subtitle: "Order gluten-free, keto, and vegan goods, delivered to Santa Cruz and the Monterey Bay" %>
<section id="shop">
  <div class="container">
    <div class="bakery-categories">
      <% for category in @categories %>
        <% if category.name == 'All' %>
          <%= link_to "All", products_path, class: "navLink" %>
        <% else %>
          <%= link_to category.name, products_path(category: category.name), class: "navLink link"  %>
        <% end %>
      <% end %>
    </div>
    <div class="productContainer">
      <div class="productCardGrid">
        <div class="product-grid">
          <% for product in @products %>
            <%= link_to product do %>
              <div class="productCard">
                <% if product.image.attached? %>
                  <div class= "imageContainer" role="presentation" >
                    <%= image_tag product.image.variant(resize_to_limit: [400, 400]), alt: product.name %>
                  </div>
                <% end %>
                <div class= "detailsContainer">
                  <h5><%= product.name %></h5>
                  <% if product.variations.present? %>
                    <div class="prices">
                      <span {itemprop: "price", content: product.variations.first.price / 100 } >
                      Starting at <%= formatted_price(product.variations.first.amount) %>
                      </span>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>