
<% content_for :head do %>
  <title><%=@product.name %> | Switch Bakery</title>
  <meta name="description" content="<%= @product.description %>" />
  <meta property="og:title", content="<%=@product.name %> | Switch Bakery" />
  <meta property="og:site_name", content="Switch Bakery" />
  <meta property="og:description", content="<%= @product.description %>" />
  <meta property="og:type", content="product" />
  <meta property="og:url", content="<%=product_url %>" />
  <meta property="og:image", content="<%=@product.image.url if @product.image.attached? %>" />
  <meta property="product:price:currency", content="USD" />
  <meta property="product:price:amount", content="<%= @product.variations.map(&:amount).min / 100 if @product.variations.exists? %>" />
  <meta name="twitter:title", content="<%=@product.name %> from the Switch Bakery in Monterey" />
  <meta name="twitter:description", content="<%= @product.description %>" />
  <meta name="twitter:image", content="<%=@product.image.url if @product.image.attached? %>" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="<%=product_url %>" />
  <meta itemprop="name", content="<%=@product.name %>" />
  <meta itemprop="description", content="<%= @product.description %>" />
  <meta itemprop="image", content="<%=@product.image.url if @product.image.attached? %>" />
  <link rel="canonical" href="<%= product_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/Product"
<% end %>

<section id="product">
  <div class="product-container">
    <div class="content">
      <div class="imageContainer">
        <%= image_tag @product.image.variant(resize_to_limit: [800, 800]) if @product.image.attached? %>
      </div>
      <div class="details">
        <h1><%= @product.name %></h1>
        <p class="description"><%= @product.description %></p>
        <div class="variations">
          <% for variation in @product.variations.order(row_order: :asc) %>
            <%= form_with(url: cart_add_path) do |f| %>
              <%= f.hidden_field :id, value: variation.id %>
              <div class="priceContainer">
                <span class="variation">
                  <% if variation.unit_quantity.present? && variation.unit_quantity > 1 %>
                      <%= variation.unit_quantity %> - 
                      <%= variation.name.pluralize %>
                  <% else %>
                    <%= variation.name %>
                  <% end %>
                </span>
                <span class="price"><%= display_price(variation.amount) %></span>
                <% if variation.in_stock? %>
                  <span class="quantity">
                    <%= f.number_field :quantity, value: 1, min: 1 %>
                  </span>
                  <span><%= f.submit "Add to Bag", class: "button primary" %></span>
                <% end %>
              </div>
            <% end %> 
            <% unless variation == @product.variations.last %>
              <hr />
            <% end %>
          <% end %>
        </div>
        <div class="detailContent">
          <%= @product.content %>
        </div>
      </div>
    </div>
  </div>
</section>