<div id='header'>
  <container size='large' spacing='min'>
    <div class="header">
      <div class="linkContainer">
        <nav role='presentation topText'>
          <%= link_to "shop", shop_path, class: "navLink" %>
          <%= link_to "bread club", product_path('gluten-free-bread-club'), class: "navLink" %>
          <% for page in @nav %>
            <%= link_to page.slug, page_path(page.slug), class: "navLink" %>
          <% end %>
          <%= link_to "updates", updates_path, class: "navLink" if Post.any? %>
        </nav>
        <button class="iconButton iconContainer bagIconContainer">
          <%= link_to cart_path, rel: 'nofollow' do %>
            <%= render "layouts/basket_icon" %>
            
          <%= render "cart/icon", cart: @cart %>
          <% end %>
        </button>
      </div>
      <%= render "layouts/brand" %>
      <div class="topText location mr-6">central coast, california </div>
      </div>
    </div>
  </container>
</div>