<div id='header'>
  <container size='large' spacing='min'>
    <div class="header"">
      <div class="linkContainer">
        <nav role='presentation'>
          <%= link_to "shop", shop_path, class: "navLink" %>
          <% for page in @nav %>
            <%= link_to page.slug, page_path(page.slug), class: "navLink" %>
          <% end %>
          <%= link_to "bread club", product_path('gluten-free-bread-club'), class: "navLink" %>
        </nav>
      </div>
      <%= render "layouts/brand" %>
      <div class="actionContainers">
        <h3 class="location">central coast, california </h3>
        <button class="iconButton iconContainer bagIconContainer">
          <%= link_to cart_path do %>
            <%= render "layouts/basket_icon" %>
            
          <%= render "cart/icon", cart: @cart %>
          <% end %>
        </button>
      </div>
    </div>
  </container>
</div>