<!DOCTYPE html>
<html temscope itemtype=<%= content_for?(:html) ? yield(:html) : "http://schema.org/WebPage" %> >
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield(:head) %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <% if @admin.notice.present? %>
      <div id="notice" class="center p-4 b1">
        <%= @admin.notice %>
      </div>
    <% end %>
    <%= render "layouts/header" %>
    <main id="<%= controller_name %>" class="<%= action_name %>">
      <%= yield %>
    </main>
    <footer><%= render "layouts/footer" %></footer>
  </body>
</html>
